@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;400&display=swap');

.inbox {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(0, 255, 255)
  );

  padding: 10px 0 20px 0;
  text-align: center;
  font-size: 30px;
  height: 90vh;
}

.input1 {
  border: none;
  height: 2.5em;
  padding: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: medium;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.input3 {
  border: none;
  height: 2em;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-radius: 5px;
}

.forminput {
  border: none;
  outline: none;
  width: 35%;
  font-family: 'Poppins', sans-serif;
  height: 30px;
  border-radius: 2px;
  font-weight: bold;
  padding: 5px;
}

.btn {
  padding: 10px;
  outline: none;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}
